* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.list {
  margin-top: 50px;
  background-color: wheat;
  max-height: 400px;
  height: 400px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 50px 0 0;
  padding: 0;
  list-style: none;


}


@supports (-webkit-overflow-scrolling: touch) and (-webkit-touch-callout: none) {

  .list {
    position: relative;
    transform: none;
  }

  .list::before {
    display: block;
    position: fixed;
    bottom: 217px;
    content: '';
    width: 100%;
    height: calc(400px / 4);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 60%, white);
  }
}



@supports (scrollbar-width: thin) {
  .list {scrollbar-width: thin;
    scrollbar-color: yellowgreen red;
  }
}

@supports not (scrollbar-width: thin) {
  .list::-webkit-scrollbar {
    width: 5px;
  }

  .list::-webkit-scrollbar-track {
    background: yellowgreen;
  }
  .list::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 5px;
    border: 3px solid red;
  }
}

.list__item {
  height: calc(400px / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.list__item:nth-child(odd) {
  background-color: whitesmoke;
}